.color {
    display: inline-block;
    border: solid 1px black;
    padding: 10px;
}

#color1 {
    background-color: black;
}

#color2 {
    background-color: red;
}

#color3 {
    background-color: green;
}

#color4 {
    background-color: blue;
}

#clear-board {
    display: block;
}

#pixel-board {
    width: 226px;
    height: 226px;
    font-size: 0;
    /* font-size 0 para retirar espaço entre as divs (pixels do pixel board) de acordo com https://www.horadecodar.com.br/2021/02/18/como-remover-o-espaco-entre-elementos-inline-ou-inline-block/ */
}

.pixel {
    display: inline-block;
    border: solid 1px black;
    width: 40px;
    height: 40px;
    background-color: white;
}